@import './fonts.scss';

p {
  padding: 0;
  margin: 0;
}

.q-field--standard .q-field__control:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.badge-white {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  color: white !important;
}

.q-btn {
  box-sizing: border-box;
  text-transform: none !important;
  padding-top: 7px;

  &.bg-primary {
    box-shadow: 0px 6px 12px rgba(17, 136, 255, 0.25);
    &:before {
      box-shadow: none !important;
    }
  }
}

.q-card.published-modal {
  width: 22.5rem;
  border: 0px !important;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 3%) !important;
  border: 1px solid rgba(0, 0, 0, 0.04) !important;

  .publish-modal-header {
    padding-top: 67%;
    background: no-repeat center url('../assets/background-dialog.png') transparent !important;
    background-size: cover !important;
    position: relative;

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 9rem;
      height: 9rem;
      background: no-repeat center url('../assets/moneta.png') transparent !important;
      background-size: cover !important;
      bottom: -2.5rem;
      right: 2rem;
    }
  }
}

.fix-scroll {
  margin-left: -10px;
  margin-right: -15px;

  .q-scrollarea__content {
    padding-left: 10px !important;
    padding-right: 15px !important;
  }
}

.q-card {
  box-shadow: 0px 4px 12px rgb(0 0 0 / 3%) !important;
  border: 1px solid rgba(0, 0, 0, 0.04) !important;
  border-radius: 0.75rem !important;
}

.profile__avatar {
  width: 15rem;
  height: 15rem;
}

.q-editor .q-btn {
  padding: 0px !important;
  font-size: 1rem !important;
  line-height: 1 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background: transparent !important;

  .q-ripple {
    display: none !important;
  }
}

.q-field {
  &:not(.q-field--error) {
    padding-bottom: 0px !important;

    .q-field__bottom {
      display: none !important;
    }
  }
}

.card-md {
  margin-bottom: 2.5rem;
}

.footer-sb {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 600;
}

.q-field--dense {
  .q-field__control {
    min-height: 2.375rem;
  }
}

.q-field {
  .q-field__control {
    border-radius: 0.75rem;

    &:before, &:after {
      display: none !important;
    }
  }

  .q-field__control:before, .q-field__control:after {
    display: none !important;
  }

  .q-field__bottom {
    padding-left: 0px;
  }
}

.q-btn--flat {
  .q-focus-helper {
    background: none !important;

    &:before, &:after {
      background: transparent !important;
    }
  }
}

.icon-gray {
  .q-icon {
    font-weight: bold !important;
    color: #888888 !important;
  }
}

.default-textarea {
  textarea {
    height: 7.5rem;
    resize: none !important;
    padding-top: 10px !important;
  }
}

.input-label {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.f1 {
  font-size: 0.875rem;
}

.f2 {
  font-size: 1.75rem;
}

.lh08 {
  line-height: 0.8;
}

.fw-500 {
  font-weight: 500;
}

.chip12 {
  .q-chip__content {
    font-size: 0.875rem !important;
  }
}

.abs {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.container {
  max-width: $breakpoint-lg-container;
  margin-right: auto;
  margin-left: auto;
}

.q-dialog__inner--fullheight {
  padding: 0px !important;
  border: 0px !important;
  border-radius: 0px !important;
}

.q-dialog__inner > div {
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.03);
}

.modal-default {
  .q-dialog__backdrop {
    background: transparent !important;
  }
}

.modal-back {
  width: 700px;
  //pointer-events: none !important;
  position: relative;

  .modal-back-inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background: white;
    //pointer-events: all !important;
    position: absolute;
    top: 72px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 50px;
  }
}

.profile {
  display: flex;
  padding: 75px 0 25px 0;
  border-bottom: 1px solid #EEEEEE;
  &__discord {
    margin-top: 10px;
    &-nickname {
      margin-left: 7px;
    }
  }
  &__logo {
    img {
      max-width: 240px;
      border-radius: 50%;
      height: 240px;
    }
  }
  &__about {
    margin-top: 24px;
  }

  &__menu {
    padding: 36px 0 0 40px;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  &__language {
    margin-top: 10px;
  }

  &__achievements {
    margin-top: 24px;
    & span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
    }
    &-wrap {
      margin-top: 12px;
    }
    
  }

  &__nickname {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
  }
  
}