
$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;
$button-border-radius: 0.5rem !default;
$button-font-size: 0.75rem !default;
$button-line-height: 1 !default;
$button-font-weight: 400 !default;

$typography-font-family: 'Inter', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-font-size: 16px !default;
$body-line-height : 1 !default;

$h1:        (size: 5rem, line-height: 5rem, letter-spacing: normal, weight: 600) !default;
$h2:        (size: 3rem, line-height: 3.3rem, letter-spacing: normal, weight: 700) !default;
$h3:        (size: 1.5625rem, line-height: 1.875rem, letter-spacing: normal, weight: 600) !default;
$h4:        (size: 1.125rem, line-height: 1.9125rem, letter-spacing: normal, weight: 600) !default;
$h5:        (size: 0.6875rem, line-height: 0.9625rem, letter-spacing: normal, weight: 700) !default;
$h6:        (size: 1.25rem,  line-height: 2rem,     letter-spacing: .0125em,   weight: 500) !default;
$subtitle1: (size: 1rem,     line-height: 1.75rem,  letter-spacing: .00937em,  weight: 400) !default;
$subtitle2: (size: .875rem,  line-height: 1.375rem, letter-spacing: .00714em,  weight: 500) !default;
$body1:     (size: 1rem,     line-height: 1.5rem,   letter-spacing: .03125em,  weight: 400) !default;
$body2:     (size: .875rem,  line-height: 1.25rem,  letter-spacing: .01786em,  weight: 400) !default;
$overline:  (size: .75rem,   line-height: 2rem,     letter-spacing: .16667em,  weight: 500) !default;
$caption:   (size: .75rem,   line-height: 1rem,  letter-spacing: normal,  weight: 300) !default;

$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6, 'subtitle1': $subtitle1, 'subtitle2': $subtitle2, 'body1': $body1, 'body2': $body2, 'overline': $overline, 'caption': $caption) !default;
$h-tags: (h1: map-get($headings, "h1"), h2: map-get($headings, "h2"), h3: map-get($headings, "h3"), h4: map-get($headings, "h4"), h5: map-get($headings, "h5"), h6: map-get($headings, "h6")) !default;
$text-weights: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, bolder: 900) !default;

$flex-gutter-xs : ($space-base * .4) !default;
$flex-gutter-sm : ($space-base * .5) !default;
$flex-gutter-md : $space-base !default;
$flex-gutter-lg : ($space-base * 1.5) !default;
$flex-gutter-xl : ($space-base * 3) !default;
$flex-gutter: ('none': 0, 'xs': $flex-gutter-xs, 'sm': $flex-gutter-sm, 'md': $flex-gutter-md, 'lg': $flex-gutter-lg, 'xl': $flex-gutter-xl) !default;

$primary   : #0099FF;
$secondary : #F1F2F4;
$accent    : #9C27B0;
$dark      : #282828;
$dark-page : #121212;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
